*__pycache__
*.DS_Store
runs
distance_prediction
features
wandb
images
graphs
data
*obj_names_features.txt
*place_names_features.txt
*.npy
*.yml
*checkpoints
*.ckpt
*logs
rgb.mp4
depth.mp4
ros2_vlmaps_interfaces/build
ros2_vlmaps_interfaces/install
ros2_vlmaps_interfaces/log
application/outputs
outputs